@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #FDFCFA;
  --foreground: #121215;
  --border: #E4E2DC;
  --blackish: #121215;
  --primary: #FDBF79;


}

.dark {
  --background: #121215;
  --foreground: #FBFAF6;
  --border: #242423;
  --primary: #FDBF79;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: var(--blackish);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --font-dm-sans: var(--font-dm-sans);
  --font-cabin-sketch: var(--font-cabin-sketch);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed
  }
} */
ul:not(.list-none) li:before {
  content: " ";
  background-color: var(--color-foreground);
  border-radius: 40%;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 8px;
  left: 0;
}

@keyframes move-around {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  scroll-behavior: smooth;

}

body::selection,
body::-moz-selection {
  background: var(--color-foreground);
  color: var(--color-background);
}

ul li {
  position: relative;
}

/* Rehype Pretty Code */
pre[data-language] {
  padding: 1rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.714;
  overflow-x: auto;
  border: 1px solid var(--border);
  background-color: var(--blackish) !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

[data-highlighted-line] {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 2px solid var(--primary);
  margin-left: -1rem;
  padding-left: 1rem;
}

[data-rehype-pretty-code-figure] {
  margin: 2rem 0;
}

[data-rehype-pretty-code-title] {
  background-color: var(--border);
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: -2rem;
  display: inline-block;
  position: relative;
  z-index: 10;
}

/* Blog Animations */
.blog-entry {
  animation: slideUp 0.6s ease-out forwards;
}

h1{
  line-height: 3rem
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
